{% extends "layout.html" %}
{% block title %}Amazon Reviews{% endblock %}
{% block content %}
<style>
    
        .jumbotron {
            background-color: rgb(212, 188, 203);             /* Blue background */
            width: 92%;
            height: 75%;
            
        }
    </style>

<div class="jumbotron text-center">
    <div class="container">
        <h1>Musical Instrument</h1>
        <p>Will give little description of topic here</p>
    </div>
   

</div>
{% include "includes/_subnav.html" %}
{% endblock %}